@import "tailwindcss";
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter-sans), sans-serif;
}

@theme {
  --breakpoint-3xl: 120rem;
}

.swiper {
  width: 100%;
  height: 60vh; /* базовая высота — 60% экрана */
}

/* Для мобильных устройств */
@media (max-width: 768px) {
  .swiper {
    height: 40vh; /* пониже */
  }
}

.swiper-slide {
  text-align: center;
  background: #fafafa;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 600px;
  object-fit: cover;
}

/* ---- Карточный свайпер ---- */
.card-swiper {
  height: auto !important;
  width: 100%;
}

/* Слайд не должен быть flex-центровкой (ломает карточки) */
.card-swiper .swiper-slide {
  display: block !important;
  background: transparent !important;
  text-align: left !important;

  height: auto !important;
}

/* Если внутри есть <img>, отменяем растягивание */
.card-swiper .swiper-slide img {
  width: auto !important;
  height: auto !important;
  object-fit: contain !important;
}
